<div ng-controller="app.views.home">
    <div class="row">
        @*<h1>@L("WellcomeMessage")</h1>*@

        <div class="col-md-8 spawn-columns">
            <div class="col-md-12 calendarDiv" calendar-view></div>
            <div class="row">
                <div class="col-md-6 todoDiv " todo-view></div>
                <div class="col-md-6 contacts-container " contact-view></div>
            </div>
        </div>

        <div class="col-md-4 notes-container" notes-view></div>
    </div>
</div>