<div class="icon-bar" ng-controller="app.views.layout.header as vm">
    <ul>
        <li ng-repeat="menuItem in vm.menu.items" ng-class="{active: vm.currentMenuName == menuItem.name}">
            <a ng-if="!menuItem.items.length" ng-href="{{menuItem.url}}"><i class="{{menuItem.icon}}" ng-if="menuItem.icon"></i></a>
            <a ng-if="menuItem.items.length" href="" data-toggle="dropdown"><i class="{{menuItem.icon}}" ng-if="menuItem.icon"></i></a>
            <ul ng-if="menuItem.items.length" class="dropdown-menu">
                <li ng-repeat="menuSubItem in menuItem.items">
                    <a ng-href="{{menuSubItem.url}}"><i class="{{menuSubItem.icon}}" ng-if="menuSubItem.icon"></i></a>
                </li>
            </ul>
        </li>
    </ul>
</div>